@model TakasApp.Models.TableUser
@{
    ViewBag.Title = "Myprofile";
}

<h2>My Profile</h2>

<div>@Model.UserName</div>
<div>@Model.UserEmail</div>
<div>@Model.UserRegisterDate</div>

<a href="@Url.Action("ListMyProducts","User")">Ürünlerimi Göster</a>